<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gitpub App</title>

        <style type="text/css">
            h1 {
                color:mintcream;
            }
            body {
                color: rosybrown;
                background-color: midnightblue;
            }
        </style>
    </head>
    <body>

        <h1>Welcome to GitPub</h1>
        
        <!-- <ul>
            <% for(let i = 0; i < allFruits.length; i++) { %>
                <li>
                    <a href="/fruits/<%= i %>"><%= allFruits[i].name %></a>
                </li>
            <% } %>
        </ul> -->
    </body>
</html>