<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gitpub App</title>

        <style type="text/css">
            h1 {
                color:snow;
            }
            body {
                color: mistyrose;
                background-color: steelblue;
                text-transform: capitalize;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to GitPub</h1>
        <ul>
            <h2>Drinks</h2>
            <% for(let i = 0; i < allDrinks.length; i++) { %> 
                <li>
                    <a href="/drinks/<%=i%>"><%= allDrinks[i].name %></a>
                </li>
            <% } %>
                <br />
                <h2>Foods</h2>
            <% for(let i = 0; i < allFood.length; i++) { %> 
                <li>
                    <a href="/food/<%=i%>"><%= allFood[i].name %></a>
                </li>
            <% } %>
        </ul>
        
    </body>
</html>